graft src
graft tests
graft docs

include README.rst
include CHANGES.rst
include LICENSE

include .coveragerc
include tox.ini .travis.yml rtd.txt .gitlab-ci.yml

recursive-exclude * __pycache__ *.py[cod]
